[alias]
	lg = "log --graph --oneline --abbrev-commit --decorate \
		--format=format:'%C(yellow)%h%C(reset) - %C(green)(%ar)%C(reset) %C(normal)%s%C(reset) %C(red)- %an%C(reset)%C(auto)%d%C(reset)'"
	st = status
	po = "!git push -u origin \"$(git branch --show-current)\""
	cm = commit -m
	cma = commit -am
	amend = !git add . && git commit --amend
	di = diff -i
	ds = diff --staged
	rs = "!f() { \
		git reset HEAD~$1; \
	}; f"
	clear = !git restore . && git clean -fd
	bn = "!f() { \
		git switch -c $1; \
	}; f"

[core]
	editor = nvim
[pull]
	rebase = false
